@import "variables";
@import "mixins";


article {
  margin-bottom: 4rem;

  .article--title {
    border-bottom: 1px solid $separator;
    padding-bottom: 3rem;
  }

  .article--metadata {
    padding-top: 1rem;
    font-family: "Montserrat", sans-serif;
  }

  .article--content, .article--sharing, .article--tags, .article--authors {
    margin-top: 4rem;
    @media #{$small-only} {
      margin-top: 2rem;
    }
  }

  .article--content {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8;
    font-family: 'Noto Serif', serif;

    a {
      color: scale_color($green, $lightness: -20%);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  pre {
    padding: 1rem;
  }

  .article--sharing {
    border-top: 1px solid $separator;
    border-bottom: 1px solid $separator;
    padding: 1rem 0;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;

    ul {
      @include inline-list(2rem);
      @include round-list-separator;

      a {
        color: $grey;

        &:hover {
          color: black;
        }
      }
    }

    @media #{$small-only} {
      ul {
        li {
          display: block;
          margin-right: 0;
        }
        li + li:before {
          content: "";
          padding-right: 0;
        }
      }

    }
  }

  .article--tags {
    text-align: left;

    a {
      display: inline-block;
      margin-bottom: .7rem;
    }
  }

  .article--authors {
    text-align: left;
    border-bottom: 1px solid $separator;

    .written-by {
      text-transform: uppercase;
      display: block;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 2rem;
    }

    .author {
      @include media-object;
      margin-bottom: 2rem;

      img {
        border-radius: 50rem;
        width: 100px;
      }

      h4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .author__content {
        font-size: 1rem;

        a {
          color: $grey;
          vertical-align: middle;
        }

        a:hover {
          color: black;
        }
      }

    }
  }

  pre {
    font-size: 1rem;
  }

  img {
    max-width: 710px;
  }

  // ipython stuff
  .prompt {
      display: none;
  }

  .output_png {
    width: 100%;
    text-align:center;
    padding: 1rem;
  }

  .output_text {
    pre {
      padding: 0;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 1rem;
      line-height: 110%;
      vertical-align: top;
      border: 1px solid #ccc;
    }

    thead th {
      vertical-align: bottom;
      text-align: left;
    }
  }
}


#disqus_thread {
  margin-bottom: 4rem;
}
