article {
  margin-top: 5rem;

  img {
    display: block;
    margin: auto;
  }
  p {
    a {
     color: #57A3E8;
    }
  }

}

.article-footer {
  margin: 4rem 0 0 0;
  padding: 4rem 0 0 0;
  border-top: #EBF2F6 1px solid;
}
