// Breakpoints ------------------------------------------------------
$small-only: "only screen and (max-width: 500px)";
$medium: "only screen and (max-width: 900px)";

// ------------------------------------------------------------------

%container {
    width: 80%;
    max-width: 710px;
    margin: 4rem auto;
    padding-bottom: 0;
    word-break: break-word;
    hyphens: auto;

  @media #{$medium} {
    font-size: 0.9em;
    line-height: 1.6em;
  }

  @media #{$small-only} {
    width: auto;
    margin: 0 16px;
    font-size: 0.8em;
  }
}

header {
  @extend %container;
  text-align: center;

  img {
    width: 258px;
  }

  @media #{$small-only} {
    margin-bottom: 50px;
  }
}

.container {
  @extend %container;
}

.post {
  padding-bottom: 3rem;
  border-bottom: 1px solid #E7EEF2;

  h2 {
    letter-spacing: -2px;
    font-size: 5rem;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;

    a {
     color: #57A3E8;
    }
  }

  .post--link {
    display: block;
    color: #57A3E8;
  }
}