$font-size: 16px;

html {
  font-family: 'Noto Sans', serif;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  margin-top: 40px;
  margin-bottom: 4px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.3rem;
  line-height: 1.5;
}

pre {
  padding: 10px;
}
