@import "media-queries";

$font-family-body: 'Noto Serif', sans-serif !default;
$font-family-titles: 'Open Sans', sans-serif !default;
$base-font-size: 100% !default;
$blockquote-border-colour: black !default;

// Used by most elements to have a consistent margin
$base-margin: 1.4rem !default;


html {
  font-family: $font-family-body;
  font-size: $base-font-size;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: $font-family-titles;
  margin-bottom: 0;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.1rem;
  @media #{$medium-up} {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 1.7rem;
  @media #{$medium-up} {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 1.4rem;
  @media #{$medium-up} {
    font-size: 1.7rem;
  }
}

h4 {
  font-size: 1.1rem;
  @media #{$medium-up} {
    font-size: 1.4rem;
  }
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}


p, ul, ol {
  margin: $base-margin 0 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: inherit;
  }
}

hr { margin: $base-margin 0; }

blockquote {
  margin: $base-margin;
  margin-left: 0;
  padding-left: $base-margin;
  border-left: $blockquote-border-colour 0.4rem solid;

  p {
    font-style: italic;
  }

  cite {
    font-style: normal;

    &:before {
      content: "\2014 \00A0"; // em dash
    }
  }
}
