// Colours
$light-grey: #ECECEC;
$grey: #747474;
$text-grey: #353535;
$separator: #BDBDBD;

$light-green: #7EDBB5;
$green: #4EB08F;
$dark-green: #274A3C;

// ------------------------------------------------------------------
