<div class="post">
    <h2 class="post--title">
        <a href="{{ SITEURL }}/{{ article.url }}">
            {{ article.title }}
        </a>
    </h2>
    <span class="date">{{ article.date|strftime('%d %b %Y') }} — </span>
    <span class="category"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
    {% if show_summary %}
        <div class="post--summary">
            {{ article._summary }} <a href="{{ SITEURL }}/{{ article.url }}" class="read-more">»</a>
        </div>
    {% endif %}
</div>
