{% extends 'base.html' %}

{% block content %}
  <div class="posts-list">
    {% if articles %}
      {% for article in articles_page.object_list %}
        <div class="post">
          <small>{{ article.date|strftime('%d %b %Y') }}</small>
          <h2 class="post--title">
            <a href="{{ SITEURL }}/{{ article.url }}">
              {{ article.title }}
            </a>
          </h2>
          {{ article.summary }}
          <a href="{{ SITEURL }}/{{ article.url }}" class="post--link">Read more »</a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock content %}
